<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="search-option-holder">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<select class="form-control" id="tokenname" name="tokenname" [(ngModel)]="tokenname" (ngModelChange)="getOptionsForToken()">
									<option *ngFor="let token of tokenList">{{ token.name }}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="header">
						<h4 class="title">Active Options</h4>
						<p class="category">Here are all Active Options</p>
					</div>
					<div class="content table-responsive table-full-width">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>S.No.</th>
									<th>Base Token / Quote Token</th>
									<th>Strke Price</th>
									<th>Expiry</th>
									<th>Expired Block</th>
									<th>Assets Offered</th>
									<th>View Details</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let option of activeOptions; let i = index">
									<td>{{i + 1}}</td>
									<td>{{option.baseToken}} / {{option.quoteToken}}</td>
									<td>{{option.strikePrice}}</td>
									<td>{{option.blockTimestamp}}</td>
									<td>{{option.expiry}}</td>
									<td>{{option.assetsOffered}}</td>
									<td class="visit_link"><a [routerLink]="['/optiondetails', option.optionAddress]">Visit</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card">
					<div class="header">
						<h4 class="title">My Options</h4>
						<p class="category">Here are all Active Options</p>
					</div>
					<div class="content table-responsive table-full-width">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>S.No.</th>
									<th>Base Token / Quote Token</th>
									<th>Strke Price</th>
									<th>Expiry</th>
									<th>Expired Block</th>
									<th>Assets Offered</th>
									<th>View Details</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let option of myOptions; let i = index">
									<td>{{i + 1}}</td>
									<td>{{option.baseToken}} / {{option.quoteToken}}</td>
									<td>{{option.strikePrice}}</td>
									<td>{{option.blockTimestamp}}</td>
									<td>{{option.expiry}}</td>
									<td>{{option.assetsOffered}}</td>
									<td class="visit_link"><a [routerLink]="['/optiondetails', option.optionAddress]">Visit</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card">
					<div class="header">
						<h4 class="title">Expired Options</h4>
						<p class="category">Here are all your Expired Options</p>
					</div>
					<div class="content table-responsive table-full-width">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>S.No.</th>
									<th>Base Token / Quote Token</th>
									<th>Strke Price</th>
									<th>Expiry</th>
									<th>Expired Block</th>
									<th>Assets Offered</th>
									<th>View Details</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let option of expiredOptions; let i = index">
									<td>{{i + 1}}</td>
									<td>{{option.baseToken}} / {{option.quoteToken}}</td>
									<td>{{option.strikePrice}}</td>
									<td>{{option.blockTimestamp}}</td>
									<td>{{option.expiry}}</td>
									<td>{{option.assetsOffered}}</td>
									<td class="visit_link"><a [routerLink]="['/optiondetails', option.optionAddress]">Visit</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
