<div class="popup-box" [ngStyle]="{'display':displayGif}">
    <div class="popup-gif">
        <div class="popup_header">Please Wait!</div>
        <div class="popup_content">
            <div class="popup_sub">
                <img src="../../assets/img/loader.gif" alt="Gif loader" class="gif-img">
            </div>
            <div class="gif_footer">Updating profile....</div>
        </div>
    </div>
</div>

<div class="popup-box" [ngStyle]="{'display':displaySuccess}">
    <div class="popup-NotEnoughBalance">
        <div class="popup_header">Success</div>
        <div class="popup_content">
            <div class="popup_sub">Yayy! Profile updation was successfull</div>
            <button class="btn btn-approve" (click)="cancel_btn()">Okay</button>
        </div>
    </div>
</div>

<div class="popup-box" [ngStyle]="{'display':displayFail}">
    <div class="popup-NotEnoughBalance">
        <div class="popup_header">Opps!</div>
        <div class="popup_content">
            <div class="popup_sub">Sorry, Unable to update profile at the moment.</div>
            <button class="btn btn-approve" (click)="cancel_btn()">Okay</button>
        </div>
    </div>
</div>

<div class="popup-box" [ngStyle]="{'display':displayFail}">
    <div class="popup-gif">
        <div class="popup_header">Please Wait!</div>
        <div class="popup_content">
            <div class="popup_sub">
                <img src="../../assets/img/loader.gif" alt="Gif loader" class="gif-img">
            </div>
            <div class="gif_footer">Option is being created!</div>
        </div>
    </div>
</div>

<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Profile</h4>
                    </div>
                    <div class="content">
                        <form (ngSubmit)="updateUserProfile(profile)" #profile="ngForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address *</label>
                                        <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="userProfile.email" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name *</label>
                                        <input type="text" class="form-control" name="firstName" placeholder="First Name" [(ngModel)]="userProfile.firstName" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name *</label>
                                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" [(ngModel)]="userProfile.lastName" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Metamask Address</label>
                                        <input type="text" class="form-control" name="address"  placeholder="Home Address" [(ngModel)]="userProfile.address">
                                    </div>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-info btn-fill pull-right" style="background-image: -webkit-gradient(linear,left top,left bottom,from(#382673),to(#682382)); border-color:#682382;">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/face-1.jpg" alt="..."/>

                                <h4 class="title">
                                    <span *ngIf="userProfile.firstName == ''"> &lt;First Name&gt; </span>
                                     {{userProfile.firstName}}
                                    <span *ngIf="userProfile.lastName == ''"> &lt;Last Name&gt; </span>
                                     {{userProfile.lastName}}
                                    <br />
                                    <span *ngIf="userProfile.email == ''"> <small>&lt;Email&gt;</small> </span>
                                    <small>{{userProfile.email}}</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center" *ngIf="userProfile.aboutMe == ''"> &lt;About Me&gt;</p>
                        <p class="description text-center">{{userProfile.aboutMe}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
