<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Profile</h4>
                    </div>
                    <div class="content">
                        <form (ngSubmit)="updateUserProfile(profile)" #profile="ngForm">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Company *</label>
                                        <input type="text" class="form-control" name="company" placeholder="Company" required [(ngModel)]="userProfile.company">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Username *</label>
                                        <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="userProfile.username" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address *</label>
                                        <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="userProfile.email" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name *</label>
                                        <input type="text" class="form-control" name="firstName" placeholder="Company" [(ngModel)]="userProfile.firstName" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name *</label>
                                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" [(ngModel)]="userProfile.lastName" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control" name="address" placeholder="Home Address" [(ngModel)]="userProfile.address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control" name="city" placeholder="City" [(ngModel)]="userProfile.city">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control" name="country" placeholder="Country" [(ngModel)]="userProfile.country">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="number" class="form-control" name="pincode" placeholder="ZIP Code" [(ngModel)]="userProfile.pincode">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About Me</label>
                                        <textarea rows="5" class="form-control" name="aboutMe" placeholder="Here can be your description" [(ngModel)]="userProfile.aboutMe"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right" style="background-image: -webkit-gradient(linear,left top,left bottom,from(#382673),to(#682382)); border-color:#682382;">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/face-1.jpg" alt="..."/>

                                <h4 class="title">
                                    <span *ngIf="userProfile.firstName == ''"> &lt;First Name&gt; </span>
                                    <span *ngIf="userProfile.lastName == ''"> &lt;Last Name&gt; </span>
                                    {{userProfile.firstName}} {{userProfile.lastName}}
                                    <br />
                                    <span *ngIf="userProfile.email == ''"> <small>&lt;Email&gt;</small> </span>
                                    <small>{{userProfile.email}}</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center" *ngIf="userProfile.aboutMe == ''"> &lt;About Me&gt;</p>
                        <p class="description text-center">{{userProfile.aboutMe}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
