.popup-box {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.popup {
    /* display: block; */
    margin: 0 auto;
    width: 30%;
    height: 33rem;
    padding: 2rem;
    position: absolute;
    left: 58%;
    top: 45%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 99999;
}

.popup-NotEnoughBalance,
.popup-errorBox {
    margin: 0 auto;
    width: 30%;
    height: 25rem;
    /* padding: 2rem; */
    position: absolute;
    left: 58%;
    top: 45%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 99999;
}

.popup-box-gif {
    text-align: center;
}

.popup-gif {
    margin: 0 auto;
    width: 30%;
    height: 30rem;
    position: absolute;
    left: 58%;
    top: 45%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 99999;
}

.gif_footer {
    font-size: 2rem;
}

.popup_header {
    color: #fff;
    font-size: 2.5rem;
    padding: 2rem;
    text-align: center;
    border-bottom: .5px solid #333;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#382673), to(#682382));
    background-image: gradient(linear, left top, left bottom, from(#382673), to(#682382));
}

.popup_content {
    padding: 2rem;
    text-align: center;
}

.popup_sub {
    display: block;
    font-size: 1.7rem;
    text-align: center;
    padding-bottom: 3rem;
}

.popup_footer {
    padding: 2rem;
}

.popup_allowance-input {
    width: 70%;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    padding: 1rem;
}

.gif-img {
    width: 12rem;
}

.form-group-input {
    padding-top: 2rem;
}

.form-group-btn {
    text-align: center;
    padding-top: 3rem;
}

.btn-cancel {
    color: #fff;
    padding: 6px 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#382673), to(#682382));
    border-color: #682382;
}

.btn-approve {
    color: #fff;
    padding: 6px 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#382673), to(#682382));
    border-color: #682382;
}

.balAllowUI {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #777;
    font-size: 1.6rem;
}

.balAllowUI li {
    float: left;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
}

.btn {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#382673), to(#682382));
    border-color: #682382;
}

.stepCount {
    float: right;
    font-size: 1.2rem;
    padding: 1rem;
    color: #525252;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#382673), to(#682382));
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}