<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.wandx.co/" target="_blank">
                        Home
                    </a>
                </li>
                <li>
                    <a href="https://exchange.wandx.co/" target="_blank">
                        Basket protocol
                    </a>
                </li>
                <li>
                    <a href="https://blog.wandx.co/" target="_blank">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://exchange.wandx.co/" target="_blank">
                        DEX
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="https://www.wandx.co/" target="_blank" style="color: #682382;">WandX</a>
            Decentralised trading of ERC20 tokens and ERC20 token baskets.
        </p>
    </div>
</footer>
