<div class="main-content">
  <div class="container-fluid">
	<!-- {{tokenList[0].name}} -->
	<div class="input_faucet">
		<form [formGroup]='tokenForm' novalidate>
			<div class="form-group form-group-input">
				<input id="search" type="text" class="text_box-faucet" (click)="toggleDropDown()" formControlName='search' (click)=' openDropDown() ' placeholder="Search Faucet...">
				<div clickOutside (clickOutside)="closeDropDown()">
					<div *ngIf="showDropDown" class="search-dropdown">
						<div>
							<div class="token_list" *ngFor="let t of tokenListArray | searchFilter:getSearchValue()">
								{{t}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group-btn">
				<input type="submit" class="btn btn-approve text-center">
			</div>
		</form>
		
	</div>
  </div>
</div>
