
<div class="sidebar-wrapper" style="background-image: -webkit-gradient(linear,left top,left bottom,from(#382673),to(#682382));">
	<div class="logo">
		<a href="https://www.wandx.co/" target="_blank" class="simple-text">
			<div class="logo-img">
				<img src="../../assets/img/wandxlogo.png"/>
			</div>
		</a>
	</div>
	<ul class="nav responsive-nav">
		<li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
		<li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
			<a [routerLink]="[menuItem.path]">
				<i class="{{menuItem.icon}}"></i>
				<p>{{menuItem.title}}</p>
			</a>
		</li>
	</ul>
</div>
