
<div class="popup-box" [ngStyle]="{'display':displayApprovalBox}">
	<div class="popup-gif">
		<div class="popup_header">Waiting For Approval</div>
		<div class="popup_content">
			<div class="popup_sub">
				<img src="../../assets/img/loader.gif" alt="Gif loader" class="gif-img">
			</div>
			<div class="gif_footer">Please approve the WANDX allowance request in metamask</div>
		</div>
	</div>
</div>

<div class="popup-box" [ngStyle]="{'display':displayWaitingBox}">
	<div class="popup-gif">
		<div class="popup_header">Please Wait!</div>
		<div class="popup_content">
			<div class="popup_sub">
				<img src="../../assets/img/loader.gif" alt="Gif loader" class="gif-img">
			</div>
			<div class="gif_footer">
				{{waiting_msg}}
				<br>
				<span style="font-size: 1.5rem;">Please confirm the request(s) in metamask.</span>
			</div>
		</div>
	</div>
</div>

<div class="popup-box" [ngStyle]="{'display':displayErrorBox}">
	<div class="popup-errorBox">
		<div class="popup_header">Opps!</div>
		<div class="popup_content">
			<div class="popup_sub">{{error_msg}}</div>
			<button class="btn btn-approve" (click)="cancel_btn()">Okay</button>
		</div>
	</div>
</div>

<div class="container" style="width:100%">
	<div class="row">
		<section>
			<div class="wizard" style="min-height: 7rem;padding: 10px;">
				<div class="row" style="width:100%">
					<div class="col-md-4 barComponent" >
						<div style="text-transform: capitalize;">
							Web3 Connection<br>{{web3Status}}
						</div>
					</div>
					<div class="col-md-2 barComponent" >
						<div>
							Metamask address<p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{userAddress}}</p>
						</div>
					</div>
					<div class="col-md-2 barComponent" >
						<div>
							WAND Balance<br>{{userBalanceFormatted}}
						</div>
					</div>
					<div class="col-md-2 barComponent" >
						<div>
							WAND Allowance<br>{{currentAllowanceFormatted}}
						</div>
					</div>
					<div class="col-md-2 barComponent" >
						<div>
							Trx Fee in WAND<br>{{contractFeeFormatted}}
						</div>
					</div>
				</div>
			</div>
			<div class="wizard">
				<form>
					<div class="tab-content">
						<div class="tab-pane active" role="tabpanel" id="step1" [ngStyle]="{'display':displayStepOne}">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<div class="card">
										<div class="stepCount">1/3</div>
										<div class="header">
											<h4 class="title">Step 1</h4>
										</div>
										<div class="content">
											<form (ngSubmit)="onSubmit1(step1)" #step1="ngForm">
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>Base Token</label>
															<select class="form-control" id="baseTokenName" ngModel name="base_token" required  #ref (change)="changeBaseToken(ref.value)">
																<option *ngFor="let token of tokenList">{{ token.name }}</option>
															</select>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label>Quote Token</label>
															<select class="form-control" id="quoteTokenName" ngModel name="quote_token" required #refs (change)="changeQuoteToken(refs.value)">
																<option *ngFor="let token of tokenList">{{ token.name }}</option>
															</select>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>Expiry Date</label>
															<input type="date" id="expiryDate" class="form-control" value="{{validate}}" name="blockTimestamp" min="{{validate}}" required ngModel>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label>Strike Price</label>
															<input type="number" class="form-control" placeholder="Strike Price"  required (keypress)="take_special_char($event)"
																ngModel name="strikePrice">
														</div>
													</div>
													<!-- <div class="col-md-6">
														<div class="form-group">
															<div data-role="rangeslider">
																<label for="price-min">Strike Price:</label>
																<div class="range row" ms-controller="range-primary">
																	<div class="col-xs-7 col-sm-8">
																		<div class="range-container">
																			<div class="range-track progress">
																				<div class="range-track-bar progress-bar progress-bar-striped active progress-bar-primary" ms-css-width="value + &quot;%&quot;"></div>
																			</div>
																			<input class="range-control" type="range" min="0" max="10000"  ngModel name="strikePrice"  #ref (change)="changeStrikePriceSliderValue(ref.value)" ms-duplex="value"/>
																		</div>
																	</div>
																	<div class="range_input_box">
																		<div class="range-popover popover right">
																			<div class="arrow"></div>
																			<div class="popover-content">
																				<input class="form-control input-lg text-center" type="number" min="0" max="10000" value="{{strikePriceSliderValue}}"/>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div> -->
												</div>
												<button type="submit" class="btn btn-info btn-fill pull-right next-step" [disabled]="!step1.valid">Next</button>
												<div class="clearfix"></div>
												<div class="row" >
													<div class="col-md-3" *ngIf="usdBaseValue">
                                                        <b>Base Token</b>
														<p>Price in USD <b>{{usdBaseValue}} USD</b></p>
														<p>Price in ETH <b>{{ethBaseValue}} ETH</b></p>
													</div>
                                                    <div class="col-md-3"  *ngIf="usdQuoteValue" >
                                                        <b>Quote Token</b>
														<p>Price in USD <b>{{usdQuoteValue}} USD</b></p>
														<p>Price in ETH <b>{{ethQuoteValue}} ETH</b></p>
													</div>
												</div>
                                                <div class="row">
                                                    <div class="col-ms-12">
                                                        <div *ngIf="usdQuoteValue">
                                                            <charts ></charts>
                                                        </div>
                                                    </div>
                                                </div>

											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
						<div class="tab-pane" role="tabpanel" id="step2" [ngStyle]="{'display':displayStepTwo}">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<div class="card">
										<div class="stepCount">2/3</div>
										<div class="header">
											<h4 class="title">Step 2</h4>
										</div>
										<div class="content">
											<form (ngSubmit)="onSubmit2(step2)" #step2="ngForm">
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>Assets Offered</label>
															<input type="number" class="form-control" placeholder="Assets Offered"  required (keypress)="take_special_char($event)"
																ngModel name="assets_offered">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label>Premium</label>
															<input type="number" class="form-control" placeholder="Premium" required (keypress)="take_special_char($event)" ngModel name="premium">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>Expiry Block</label>
															<input type="number" class="form-control" [(ngModel)]="minBlockNumber" [min]="[minBlockNumber]" placeholder="Minimum Block Number + {{minBlockNumber}}" required 
																ngModel name="expiryBlock">
														</div>
													</div>
												</div>
												<button type="submit" id="submit_two" class="btn btn-info btn-fill pull-right next-step" [disabled]="!step2.valid">Submit</button>
												<button class="btn" (click)="backButton()" >Back</button>
												<div class="clearfix"></div>
											</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" role="tabpanel" id="step3" [ngStyle]="{'display':displayStepThree}">
							<div class="last_step">
								<h3 class="text-center">Your Put Option is successfully created</h3>
								<p class="text-center">Find below the details</p><br>
								<table class="table table-hover">
									<tr>
										<th>Base Token</th>
										<td>{{ base_token }}</td>
									</tr>
									<tr>
										<th>Quote Token</th>
										<td> {{ quote_token }} </td>
									</tr>
									<tr>
										<th>Expiry Date</th>
										<td> {{ blockTimestamp | date:'yyyy-MM-dd' }} </td>
									</tr>
									<tr>
										<th>{{ base_token }} Allowance</th>
										<td> {{ strikePrice }} </td>
									</tr>
									<tr>
										<th>Assets Offered</th>
										<td> {{ assets_offered }} </td>
									</tr>
									<tr>
										<th>Premium</th>
										<td>{{ premium }}</td>
									</tr>
									<tr>
										<th>Expiry Block</th>
										<td> {{ expiryBlock }} </td>
									</tr>
								</table>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</form>
			</div>
		</section>
	</div>
</div>
