input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched{
    border: 1px solid red;
}

.card{
    border-radius: 0;
    margin: 0 5rem;
    padding: 2rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);

}

.wizard {
    min-height: 76vh;
    margin: 20px auto;
    padding-bottom: 3rem;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard>div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 65%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tab i {
    color: #555555;
}

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
}

.wizard li.active span.round-tab i {
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs>li {
    width: 33.3%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs>li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs>li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width: 585px) {
    .wizard {
        width: 90%;
        height: auto !important;
    }
    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .wizard .nav-tabs>li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .card{
        margin: 0;
    }

    .last_step{
        width: 90%;
    }
}

.last_step{
    width: 80%;
    margin: 0 auto;
}
.range-slider {
    /* margin: 60px 0 0 0%; */
}

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background: #2c3e50; */
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    /* background: #2c3e50; */
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}

.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    /* background: #9ebddd; */
    padding: 5px 10px;
    margin-left: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    /* border-right: 7px solid #2c3e50; */
    border-bottom: 7px solid transparent;
    content: '';
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

.text-center{
    text-align: center;
}


.range {
    position: relative;
    margin-bottom: 8px;
}

.range-container {
    margin: 16px 0 0;
}

.range-track {
    height: 16px;
}

.range-track-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.range-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 5px;
    left: 9px;
    padding: 0;
    -moz-transform: translate(0, 16px);
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    cursor: w-resize;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -ms-grab;
    cursor: grab;
}

.range-control:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
}

.range-control:focus {
    outline: 0;
}

.range-control::-ms-fill-lower,
.range-control::-ms-fill-upper,
.range-control::-ms-ticks-after,
.range-control::-ms-ticks-before,
.range-control::-ms-tooltip {
    display: none;
}

.range-control::-ms-track {
    height: 48px;
    color: transparent;
    background: none;
    border: 0;
}

.range-control::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border-width: 0;
    border-radius: 50%;
    background: #f0f0f2 -webkit-linear-gradient(#f0f0f2, #c2c3cb);
    background: #f0f0f2 -moz-linear-gradient(#f0f0f2, #c2c3cb);
    background: #f0f0f2 -o-linear-gradient(#f0f0f2, #c2c3cb);
    background: #f0f0f2 -ms-linear-gradient(#f0f0f2, #c2c3cb);
    background: #f0f0f2 linear-gradient(#f0f0f2, #c2c3cb);
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px;
}

.range-control::-moz-range-track {
    background: none;
    border: 0;
}

.range-control::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border-width: 0;
    border-radius: 50%;
    background: #f0f0f2 -webkit-linear-gradient(#f0f0f2, #c2c3cb);
    background: #f0f0f2 -moz-linear-gradient(#f0f0f2, #c2c3cb);
    background: #f0f0f2 -o-linear-gradient(#f0f0f2, #c2c3cb);
    background: #f0f0f2 -ms-linear-gradient(#f0f0f2, #c2c3cb);
    background: #f0f0f2 linear-gradient(#f0f0f2, #c2c3cb);
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px;
}

.range-control::-webkit-slider-runnable-track {
    margin: 8px 0 0;
    background: none;
    border: 0;
}

.range-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border-width: 0;
    border-radius: 50%;
    background: #f0f0f2 -webkit-linear-gradient(#f0f0f2, #c2c3cb);
    background: #f0f0f2 -moz-linear-gradient(#f0f0f2, #c2c3cb);
    background: #f0f0f2 -o-linear-gradient(#f0f0f2, #c2c3cb);
    background: #f0f0f2 -ms-linear-gradient(#f0f0f2, #c2c3cb);
    background: #f0f0f2 linear-gradient(#f0f0f2, #c2c3cb);
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px;
}

.popover{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.range-popover {
    display: block;
    position: relative;
    padding: 0 20px;
}

.range_input_box{
    display: inline-block;
    padding: 0;
    margin-top: 17px;
}

.range-popover .popover-content {
    padding: 0;
}

.range-popover .form-control {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: bold;
}

.input-lg{
    height: auto;
    padding: 0;
}

.progress-bar{
    background-color: transparent;
}

.popup-box {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.popup{
    /* display: block; */
    margin: 0 auto;
    width: 30%;
    height: 33rem;
    padding: 2rem;
    position: absolute;
    left: 58%;
    top: 45%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 99999;
}

.popup-NotEnoughBalance, .popup-errorBox{
    margin: 0 auto;
    width: 30%;
    height: 25rem;
    position: absolute;
    left: 58%;
    top: 45%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 99999;
}

.popup-box-gif{
    text-align: center;
}

.popup-gif{
    margin: 0 auto;
    width: 30%;
    height: 33rem;
    position: absolute;
    left: 58%;
    top: 45%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 99999;
}

.gif_footer{
    font-size: 2rem;
}

.popup_header{
    color: #fff;
    font-size: 2.5rem;
    padding: 2rem;
    text-align: center;
    border-bottom: .5px solid #333;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#382673), to(#682382));
    background-image: gradient(linear, left top, left bottom, from(#382673), to(#682382));
}

.popup_content{
    padding: 2rem;
    text-align: center;
}

.popup_sub{
    display: block;
    font-size: 1.7rem;
    text-align: center;
    padding-bottom: 3rem;
}

.popup_footer{
    padding: 2rem;
}

.popup_allowance-input{
    width: 70%;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    padding: 1rem;
}

.gif-img{
    width: 12rem;
}

.form-group-input{
    padding-top: 2rem;
}

.form-group-btn{
    text-align: center;
    padding-top: 3rem;
}

.btn-cancel{
    color: #fff;
    padding: 6px 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#382673), to(#682382));
    border-color: #682382;
}

.btn-approve{
    color: #fff;
    padding: 6px 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#382673), to(#682382));
    border-color: #682382;
}

.balAllowUI {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #777;
    font-size: 1.6rem;
}

.balAllowUI li {
    float: left;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
}

.btn{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#382673),to(#682382)); 
    border-color:#682382;
}

.stepCount{
    float: right;
    font-size: 1.2rem;
    padding: 1rem;
    color: #525252;
}

.btn {
    text-decoration: none;
    color: #fff;  
    background-color: #26a69a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#382673), to(#682382));
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.barComponent {
    color: #777;
    font-size: 1.6rem;
    text-align: center;
    /* padding-top: 1.5rem;
    padding-left: 1.5rem; */
    border-right: 2px dotted darkgray;
    height: 5rem;
}